# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [2]:
print(g_key)

AIzaSyD_cu13CRGWBJVb2OlubeJ5O4JESmI3bv0

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
weather_data = pd.read_csv('../WeatherPy/weather_data.csv')
weather_data

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,new norfolk,-42.7826,147.0587,63.91,82,3,3.69,AU,1651187086
1,sao filipe,14.8961,-24.4956,71.64,71,3,6.87,CV,1651187041
2,hobart,-42.8794,147.3294,64.27,90,20,5.75,AU,1651187296
3,turukhansk,65.8167,87.9833,33.57,98,100,7.23,RU,1651187060
4,mataura,-46.1927,168.8643,56.48,79,13,1.07,NZ,1651187297
...,...,...,...,...,...,...,...,...,...
537,basco,20.4487,121.9702,82.69,85,4,19.51,PH,1651187605
538,alice springs,-23.7000,133.8833,76.55,33,25,0.00,AU,1651187461
539,kumbo,6.2000,10.6667,60.60,94,73,1.36,CM,1651187606
540,pochutla,15.7432,-96.4661,87.82,54,60,7.05,MX,1651187607
541,vila velha,-20.3297,-40.2925,78.75,89,0,4.61,BR,1651187312

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
gmaps.configure(api_key=g_key)

In [56]:
locations = weather_data[["Lat", "Lon"]]

humidity = weather_data["Humidity"].astype(float)

max_humidity = humidity.max()
central_coordinates = (0, 0)
fig = gmaps.figure(center=central_coordinates, zoom_level=1.5)
heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity, max_intensity=max_humidity, point_radius=2, dissipating=False)
heatmap_layer.opacity = 0.5
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [25]:
perfect_vacation_places = pd.DataFrame(weather_data.loc[(weather_data['Max Temp'] >= 80) & (weather_data['Max Temp'] <= 100) \
                                           & (weather_data['Cloudiness'] == 0) & (weather_data['Wind Speed'] < 10)] )
perfect_vacation_places

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
180,tessalit,20.1986,1.0114,81.48,11,0,5.10,ML,1651187298
235,umm lajj,25.0213,37.2685,82.62,48,0,7.70,SA,1651187449
260,nacogdoches,31.6002,-94.6335,82.04,54,0,5.73,US,1651187169
274,sawakin,19.1059,37.3321,80.69,72,0,7.99,SD,1651187468
299,bakel,14.9050,-12.4568,92.66,16,0,7.16,SN,1651187481
327,tanda,26.5500,82.6500,83.30,17,0,5.26,IN,1651187243
364,iberia,29.9502,-91.7507,80.67,36,0,9.22,US,1651187512
458,porto velho,-8.7619,-63.9039,80.65,83,0,0.00,BR,1651187276
507,taoudenni,22.6783,-3.9836,85.53,10,0,7.38,ML,1651187375

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [26]:
perfect_vacation_places['Hotel Name'] = ''
perfect_vacation_places

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
180,tessalit,20.1986,1.0114,81.48,11,0,5.10,ML,1651187298,
235,umm lajj,25.0213,37.2685,82.62,48,0,7.70,SA,1651187449,
260,nacogdoches,31.6002,-94.6335,82.04,54,0,5.73,US,1651187169,
274,sawakin,19.1059,37.3321,80.69,72,0,7.99,SD,1651187468,
299,bakel,14.9050,-12.4568,92.66,16,0,7.16,SN,1651187481,
327,tanda,26.5500,82.6500,83.30,17,0,5.26,IN,1651187243,
364,iberia,29.9502,-91.7507,80.67,36,0,9.22,US,1651187512,
458,porto velho,-8.7619,-63.9039,80.65,83,0,0.00,BR,1651187276,
507,taoudenni,22.6783,-3.9836,85.53,10,0,7.38,ML,1651187375,

In [49]:
hotel_df = []
base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?'
params = {
    "rankby": "distance",
    "type": "lodging",
    "key": g_key,
}
target_radius = 5000
for index, row in perfect_vacation_places.iterrows():
    try:
        params['location'] = f'{row[1]},{row[2]}'
        response = requests.get(base_url, params=params).json()
        # extract results
        results = response['results']
        hotel_df.append(results[0]['name'])
    except IndexError:
        print(f'No hotel within 5000 m of {row[0]}')
        hotel_df.append('n/a')
perfect_vacation_places['Hotel Name'] = hotel_df
perfect_vacation_places

No hotel within 5000 m of tessalit
No hotel within 5000 m of taoudenni

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
180,tessalit,20.1986,1.0114,81.48,11,0,5.10,ML,1651187298,n/a
235,umm lajj,25.0213,37.2685,82.62,48,0,7.70,SA,1651187449,Juman Hotel
260,nacogdoches,31.6002,-94.6335,82.04,54,0,5.73,US,1651187169,Haden Edwards House
274,sawakin,19.1059,37.3321,80.69,72,0,7.99,SD,1651187468,فندق الدويم
299,bakel,14.9050,-12.4568,92.66,16,0,7.16,SN,1651187481,Ablaye Diallo Bakel
327,tanda,26.5500,82.6500,83.30,17,0,5.26,IN,1651187243,Manzare Haque Hostel
364,iberia,29.9502,-91.7507,80.67,36,0,9.22,US,1651187512,back to back rv park
458,porto velho,-8.7619,-63.9039,80.65,83,0,0.00,BR,1651187276,Larison Hotéis
507,taoudenni,22.6783,-3.9836,85.53,10,0,7.38,ML,1651187375,n/a

In [53]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in perfect_vacation_places.iterrows()]
hotel_locations = perfect_vacation_places[["Lat", "Lon"]]

In [54]:
# Add marker layer ontop of heat map

marker_layer = gmaps.marker_layer(hotel_locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))